@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 20px;
}

/* カード */
.card-01 {
	display: grid;
	grid-template:
		"photo photo photo photo photo" 1fr
		". . . . ." 8px
		". avatar . title ." auto
		". avatar . subtitle ." auto
		". . . . ." 8px
		/ 8px auto 8px 1fr 8px;
	height: 200px;

	/* 行のトラックサイズ確定の処理から画像を除外 */
	> .photo {
		height: 0;
		min-height: 100%;
	}

	/* アイテムの配置先 */
	> .photo {
		grid-area: photo;
	}

	> .title {
		grid-area: title;
	}

	> .subtitle {
		grid-area: subtitle;
	}

	> .avatar {
		grid-area: avatar;
		align-self: center;
	}
}

/* ここまで */
