@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

.chat {
	display: grid;
	grid-template-areas:
		"messages messages"
		"form form"
		"form form";
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr auto auto;
	column-gap: 16px;
	height: 100svh;

	> .messages {
		grid-area: messages;
		display: grid;
		grid-template-columns: minmax(24px, 1fr) auto minmax(0, 640px) auto minmax(24px, 1fr);
		row-gap: 48px;
		align-content: start;
		overflow-y: auto;
		padding-block: 48px;
		container-type: inline-size;

		> .message {
			grid-column: 2 / -2;
			display: grid;
			grid-template-columns: subgrid;
			column-gap: 32px;
			row-gap: 20px;
			align-items: start;

			@container (width <= 768px) {
				grid-column: 2 / -3;

				.actions {
					grid-column: 2;
				}
			}
		}
	}

	> .form {
		grid-area: form;
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		row-gap: 12px;
		align-items: center;
		padding: 16px 24px;
	}
}

/* 横並び */
.horizontal {
	display: grid;
	grid-auto-flow: column;
	gap: 24px;
	justify-content: start;
}

/* ここまで */
