@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

/* アイコン付きリンク：横並び */
.with-icon-horizontal {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
}

.with-icon-horizontal.fix-01 {
	width: 100%;
	text-align: left;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
}

.with-icon-horizontal.fix-02 {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	gap: 16px;
	justify-content: center;
	align-items: center;
}
