@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

.grid {
	display: grid;
	grid-template-columns: 20% 20% auto 200px;
	grid-template-rows: 360px 180px;
	gap: 10px;
	justify-items: center;
	align-items: center;
}

.grid > * {
	width: 70%;
	height: 70%;
}

.item1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.item2 {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
}

.item3 {
	grid-column: 4 / 5;
	grid-row: 1 / 3;
}

.item4 {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.item5 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

@media (width <= 768px) {
	.grid {
		grid-template-columns: 20% 20% auto;
		grid-template-rows: 360px 180px 180px;
	}

	.item1 {
		grid-row: 1 / -1;
	}

	.item3 {
		grid-column: 2 / 4;
		grid-row: 3 / 4;
	}

	.item4 {
		grid-column: 2 / 3;
	}
}

/* ここまで */
