@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

.grid {
	display: grid;
	grid-template-areas:
		"text main main side"
		"sub1 sub1 sub2 side";
	grid-template-columns: 20% 20% auto 200px;
	grid-template-rows: 360px 180px;
	gap: 10px;
}

.item1 {
	grid-area: text;
}

.item2 {
	grid-area: main;
}

.item3 {
	grid-area: side;
}

.item4 {
	grid-area: sub1;
}

.item5 {
	grid-area: sub2;
}

@media (width <= 768px) {
	.grid {
		grid-template-areas:
			"text main main"
			"text sub2 side"
			"text sub2 sub1";
		grid-template-columns: 20% 30% auto;
		grid-template-rows: 360px 180px 180px;
	}
}

/* ここまで */
