@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 360px 180px;
	gap: 10px;
}

.item1 {
	grid-column: span 3;
}

.item2 {
	grid-column: span 6;
}

.item3 {
	grid-column: span 3;
	grid-row: span 2;
}

.item4 {
	grid-column: span 5;
}

.item5 {
	grid-column: span 4;
}

@media (width <= 768px) {
	.grid {
		grid-template-rows: 360px 180px 180px;
	}

	.item1 {
		grid-column: span 3; /* 省略可能 */
		grid-row: span 3;
	}

	.item2 {
		grid-column: span 9;
	}

	.item3 {
		grid-column: span 4;
		grid-row: span 2; /* 省略可能 */
	}

	.item5 {
		grid-column: span 5;
	}
}

/* ここまで */
