@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

.grid {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 10px;
	position: relative;
	padding: 120px;
	border: solid 4px palevioletred;
}

.item1 {
	position: absolute;
	top: 0;
	left: 0;
}

/* ここまで */
