@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

.fullbleed {
	display: grid;
	grid-template-columns: minmax(16px, 1fr) minmax(auto, 1120px) minmax(16px, 1fr);

	> * {
		grid-column: 1 / -1;
	}

	> .main {
		display: grid;
		grid-template-columns: subgrid;

		> * {
			grid-column: 2 / -2;
		}

		> .section-01 {
			grid-column: 1 / -1;
			grid-template-columns: subgrid;
			position: relative;

			> * {
				grid-column: 2 / -2;
			}

			> .decoration {
				justify-self: center;
				align-self: end;
				position: absolute;
				transform: translateY(50%);
			}
		}

		> .section-03-align {
			grid-column: 1 / -1;
			grid-template-columns: subgrid;
		}
	}
}

/* ヘッダー */
.header {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-auto-flow: column;
	gap: 8px;
	align-items: center;
	padding: 16px;

	/* タップターゲットを拡張 */
	.action,
	.nav a {
		padding: 12px;
	}
}

/* 横並びメニュー */
.horizontal {
	display: grid;
	grid-auto-flow: column;
	gap: 24px;
	justify-content: start;
}

/* セクション01 */
.section-01 {
	display: grid;
	grid-template-areas:
		"heading"
		"text"
		"button"
		"."
		"photo";
	grid-template-rows: repeat(4, auto) 480px;
	row-gap: 24px;
	justify-items: center;
	text-align: center;

	/* アイテムの配置先 */
	> .heading {
		grid-area: heading;
	}

	> .text {
		grid-area: text;
	}

	> .button {
		grid-area: button;
	}

	> .photo {
		grid-area: photo;
	}
}

/* セクション02（画像の切り抜きなし） */
.section-02-image {
	display: grid;
	grid-template-areas:
		". photo"
		"heading photo"
		"text photo"
		"button photo"
		". photo";
	grid-template-columns: 3fr 4fr;
	grid-template-rows: 1fr repeat(3, auto) 1fr;
	column-gap: 48px;
	row-gap: 24px;

	/* Safariで画像の表示が崩れるのを防ぐ */
	> .photo {
		height: auto;
	}

	/* モバイル */
	@media (width <= 768px) {
		grid-template-areas:
			"photo"
			"heading"
			"text"
			"button";
		grid-template-columns: auto;
		grid-template-rows: repeat(4, auto);
	}

	/* アイテムの配置先 */
	> .heading {
		grid-area: heading;
	}

	> .text {
		grid-area: text;
	}

	> .button {
		grid-area: button;
	}

	> .photo {
		grid-area: photo;
	}
}

/* セクション02（画像の切り抜きなし＋逆配置） */
.section-02-image-reverse {
	display: grid;
	grid-template-areas:
		"photo ."
		"photo heading"
		"photo text"
		"photo button"
		"photo .";
	grid-template-columns: 4fr 3fr;
	grid-template-rows: 1fr repeat(3, auto) 1fr;
	column-gap: 48px;
	row-gap: 24px;

	/* Safariで画像の表示が崩れるのを防ぐ */
	> .photo {
		height: auto;
	}

	/* モバイル */
	@media (width <= 768px) {
		grid-template-areas:
			"photo"
			"heading"
			"text"
			"button";
		grid-template-columns: auto;
		grid-template-rows: repeat(4, auto);
	}

	/* アイテムの配置先 */
	> .heading {
		grid-area: heading;
	}

	> .text {
		grid-area: text;
	}

	> .button {
		grid-area: button;
	}

	> .photo {
		grid-area: photo;
	}
}

/* セクション03（左下にアイテムを重ねる） */
.section-03-align {
	display: grid;
	grid-template-areas:
		". . ."
		". heading ."
		". text ."
		". button ."
		". . .";
	grid-template-columns: 40px auto 40px;
	grid-template-rows: 140px repeat(3, auto) 40px;
	row-gap: 24px;
	justify-items: start;
	color: white;
	text-align: left;

	/* 行のトラックサイズ確定の処理から画像を除外 */
	> .photo {
		height: 0;
		min-height: 100%;
	}

	/* アイテムの配置先 */
	> .heading {
		grid-area: heading;
	}

	> .text {
		grid-area: text;
	}

	> .button {
		grid-area: button;
	}

	> .photo {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		z-index: -1;
		filter: brightness(0.5);
	}
}

/* ここまで */
