@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

.grid {
	display: grid;
	grid-template-columns: 20% 20% auto 200px;
	grid-template-rows: 360px 180px;
	gap: 10px;
}

.item1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.item2 {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
}

.item3 {
	grid-column: 4 / 5;
	grid-row: 1 / 3;
}

.item4 {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.item5 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.item6 {
	grid-column: 5 / 6;
	grid-row: 2 / 4;
}

/* ここまで */
