@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

.grid {
	display: grid;
	grid-template-columns: 200px [main-start] 1fr 1fr [main-end] 1fr;
	grid-template-rows: auto 200px;
	gap: 24px;
}

.item1 {
	grid-column: 1;
	grid-row: 1 / 3;
}

ul {
	grid-column: 2 / 5;
	grid-row: 1 / 3;
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	gap: 48px;
}

.item2 {
	grid-column: 1 / 3;
	grid-row: 1;
}

.item3 {
	grid-column: 3;
	grid-row: 1 / 3;
}

.item2 img {
	aspect-ratio: 1 / 1;
}

/* ここまで */
