@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

.cards-bento {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
	gap: 20px;
	container-type: inline-size;

	.large {
		grid-column: span 2;
		grid-row: span 2;
	}

	.medium {
		grid-column: span 1;
		grid-row: span 2;
	}

	@container (width >= 1180px) {
		.large {
			grid-column: span 3;
			grid-row: span 2;
		}
	}
}

/* カード */
.card-01 {
	display: grid;
	grid-template:
		"photo photo photo photo photo" 1fr
		". . . . ." 8px
		". avatar . title ." auto
		". avatar . subtitle ." auto
		". . . . ." 8px
		/ 8px auto 8px 1fr 8px;
	height: 100%;

	/* 行のトラックサイズ確定の処理から画像を除外 */
	> .photo {
		height: 0;
		min-height: 100%;
	}

	/* アイテムの配置先 */
	> .photo {
		grid-area: photo;
	}

	> .title {
		grid-area: title;
	}

	> .subtitle {
		grid-area: subtitle;
	}

	> .avatar {
		grid-area: avatar;
		align-self: center;
	}
}

/* ここまで */
