@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

div {
	font-family: "Noto Sans JP", sans-serif;
	font-size: 48px;
	border: solid 2px black;
}

span {
	font-family: "Gloria Hallelujah", cursive;
	background-color: yellow;
}

/* ここまで */
